[Unit]
Description=Bedrock Server Console

[Socket]
ListenFIFO=/run/bedrock/console
SocketUser={{ minecraft_user }}
SocketGroup={{ minecraft_group }}
SocketMode=0666

[Install]
WantedBy=sockets.target
